.close{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    font-weight:bold;
    text-align:center;
}
.button{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

